doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Static site
    link(href='/css/bootstrap.min.css', rel='stylesheet')
  body
    .container
      .jumbotron
        h1 Hello FullStack 2015
      
      block content
